## SQL 3: Subqueries and joins

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd
import os
import gc

In [ ]:
engine = create_engine("mysql+mysqlconnector://root:abc@127.0.0.1:3306/cs639")
conn = engine.connect()

In [ ]:
list(conn.execute(text("show tables;")))

### IMDB dataset

- Source: https://datasets.imdbws.com/ 
- Original dataset is too large to be analyzed using our current VM
- Schema information: https://developer.imdb.com/non-commercial-datasets/

In [ ]:
!wget https://ms.sites.cs.wisc.edu/cs639/data/IMDB.zip

In [ ]:
!unzip IMDB.zip

#### Populating MySQL server with tables corresponding to all tsv files

In [ ]:
files = os.listdir()
tsv_files = [f for f in files if ".tsv" in f]
table_names = [f.replace(".tsv", "") for f in tsv_files]
table_names = [f.replace(".", "_") for f in table_names]

In [ ]:
for idx, tsv_file in enumerate(tsv_files):
    df = pd.read_csv(tsv_file, sep="\t", na_values='\\N')
    df.to_sql(table_names[idx], conn, index=False, if_exists="replace")
    print(f"Populated {table_names[idx]}")

In [ ]:
list(conn.execute(text("show tables;")))

### Data Analysis

### More basic questions

- Recap: so far we focused on three of the basic SQL clauses: `SELECT`, `FROM`, and `WHERE`
- Let's learn about the other three today: `ORDER BY`, `GROUP BY`, and `HAVING`

#### Q1: List the titles of movies released after 2010, ordered by release year in ascending order.

In [ ]:
pd.read_sql("""
    SELECT primaryTitle, startYear
    FROM title_basics
    WHERE startYear > 2010 AND titleType = 'movie'
    ORDER BY startYear ASC
""", conn)

#### Q2: List all movies released after 2010, ordered first by release year in ascending order, and then by title alphabetically.

In [ ]:
pd.read_sql("""
    SELECT primaryTitle, startYear
    FROM title_basics
    WHERE startYear > 2010 AND titleType = 'movie'
    ORDER BY startYear ASC, primaryTitle ASC
""", conn)

#### Q3: List all movies released after 2010, ordered first by the release year in ascending order and then by the title in descending alphabetical order.

In [ ]:
pd.read_sql("""
    SELECT primaryTitle, startYear
    FROM title_basics
    WHERE startYear > 2010 AND titleType = 'movie'
    ORDER BY startYear ASC, primaryTitle DESC
""", conn)

#### Q4: How many movies were released every year?

In [ ]:
pd.read_sql("""
    SELECT startYear, COUNT(*) AS movieCount
    FROM title_basics
    WHERE titleType = 'movie'
    GROUP BY startYear
""", conn)

#### Q5: What is the average runtime of movies for each release year?

In [ ]:
pd.read_sql("""
    SELECT startYear, AVG(runtimeMinutes) AS avgRuntime
    FROM title_basics
    WHERE titleType = 'movie'
    GROUP BY startYear
""", conn)

#### Q6: How many people were born in each birth year?

In [ ]:
pd.read_sql("""
    SELECT birthYear, COUNT(*) AS peopleCount
    FROM name_basics
    WHERE birthYear IS NOT NULL
    GROUP BY birthYear
""", conn)

#### Q7: How many movies were released in each genre per year?

In [ ]:
pd.read_sql("""
    SELECT startYear, genres, COUNT(*) AS movieCount
    FROM title_basics
    WHERE titleType = 'movie' AND genres IS NOT NULL
    GROUP BY startYear, genres
""", conn)

#### Q8: How many movies were released in each decade (order by latest decade first)?

In [ ]:
pd.read_sql("""
    SELECT (startYear DIV 10) * 10 AS decade, COUNT(*) AS movieCount
    FROM title_basics
    WHERE titleType = 'movie' AND startYear IS NOT NULL
    GROUP BY decade
    ORDER BY decade DESC
""", conn)

#### Q9: How many decades had more than 5 released movies (order by latest decade first)?

In [ ]:
pd.read_sql("""
    SELECT (startYear DIV 10) * 10 AS decade, COUNT(*) AS movieCount
    FROM title_basics
    WHERE titleType = 'movie' AND startYear IS NOT NULL
    GROUP BY decade
    HAVING movieCount > 5
    ORDER BY decade DESC
""", conn)

#### Q10: Find the count of movies in each genre that were released after the year 2010, but only include genres that have more than 5 movies.

In [ ]:
pd.read_sql("""
    SELECT genres, COUNT(*) AS movieCount
    FROM title_basics
    WHERE titleType = 'movie' AND startYear > 2010
    GROUP BY genres
    HAVING movieCount > 5;
""", conn)

### `GROUP BY` rules

- Unlike aggregate functions, `NULL` values aren't ignored by `GROUP BY`. Must be filtered out with `WHERE` clause.
- `SELECT` clause must only contain aggregate functions and the columns in the `GROUP BY` clause
    - Aggregations are only applied to groups of rows
- Expressions can be used in `GROUP BY`, but the same expression must be part of the `SELECT` clause.

### Order of execution of SQL clauses

### SQL Subqueries

- What is a subquery?
    - A query contained within another query. The outer query is typically referred to as "containing statement".
    - A subquery can be used with all four SQL data statements: `SELECT`, `INSERT`, `UPDATE`, `DELETE`.
    - The subquery is always executed prior to the containing statement.
    - Subqueries act like a temporary table with statement scope. That is when the containing statement has finished executing, data returned by the subqueries are discarded.
    - Subqueries can return:
        - Single row with a single column
        - Multiple rows with a single column
        - Multiple rows with multiple columns
- Types of subqueries:
    1. noncorrelated subqueries: self-contained subqueries
    2. correlated subqueries: reference columns from the containing statement

### Noncorrelated subqueries

- What is a scalar subquery?
    - A query returning a result set containing a single row and column.
    - Can be used for conditional operators: `=`, `<`, `<=`, `>`, `>=`, `<>`

#### Single-Row and Single-Column subqueries

#### Q11: What is the shortest movie released after 2010?

Let's first solve the subquery. Can you identify the subquery here?

In [ ]:
# We need the minimum runtime for movies after 2010
pd.read_sql("""
    SELECT MIN(runtimeMinutes)
    FROM title_basics
    WHERE startYear > 2010 AND titleType = 'movie' AND runtimeMinutes IS NOT NULL
""", conn)

In [ ]:
# Now let's use the subquery to solve the original question
pd.read_sql("""
    SELECT *
    FROM title_basics
    WHERE runtimeMinutes = (
        SELECT MIN(runtimeMinutes)
        FROM title_basics
        WHERE startYear > 2010 AND titleType = 'movie' AND runtimeMinutes IS NOT NULL
    ) AND titleType = 'movie'
""", conn)

#### Q12: What is the longest movie released after 2010?

In [ ]:
pd.read_sql("""
    SELECT *
    FROM title_basics
    WHERE runtimeMinutes = (
        SELECT MAX(runtimeMinutes)
        FROM title_basics
        WHERE startYear > 2010 AND titleType = 'movie' AND runtimeMinutes IS NOT NULL
    ) AND titleType = 'movie'
""", conn)

#### Q13: What are the titles that have a runtime greater than the average runtime of all movies?

In [ ]:
pd.read_sql("""
    SELECT AVG(runtimeMinutes)
    FROM title_basics
    WHERE runtimeMinutes IS NOT NULL
""", conn)

In [ ]:
pd.read_sql("""
    SELECT *
    FROM title_basics
    WHERE runtimeMinutes > (
        SELECT AVG(runtimeMinutes)
        FROM title_basics
        WHERE runtimeMinutes IS NOT NULL
)
""", conn)

#### Q14: What are the most recent movies?

In [ ]:
pd.read_sql("""
    SELECT MAX(startYear)
    FROM title_basics
    WHERE titleType = 'movie'
""", conn)

In [ ]:
pd.read_sql("""
    SELECT *
    FROM title_basics
    WHERE startYear = (
        SELECT MAX(startYear)
        FROM title_basics
        WHERE titleType = 'movie'
    ) AND titleType = 'movie'
""", conn)

#### Multiple-Row and Single-Column subqueries

- Operators: `IN`, `NOT IN`, `ALL`, `ANY`

#### Q15: Find the number of movies that have more than one genre.

We can find number of genres by simply counting number of commas and adding 1 to that count. Let's first determine length of genres column.

In [ ]:
pd.read_sql("""
    SELECT *
    FROM title_basics
    LIMIT 5
""", conn)

`LENGTH` in SQL.

In [ ]:
pd.read_sql("""
    SELECT genres, LENGTH(genres)
    FROM title_basics
""", conn)

To find, number of commas, we can replace commas with nothing and find difference between original string and the replaced string.

In [ ]:
pd.read_sql("""
    SELECT genres, LENGTH(genres) - LENGTH(REPLACE(genres, ',', '')) + 1
    FROM title_basics
""", conn)

Now putting it together in a subquery.

In [ ]:
pd.read_sql("""
    SELECT COUNT(*)
    FROM title_basics
    WHERE (
        SELECT LENGTH(genres) - LENGTH(REPLACE(genres, ',', '')) + 1
    ) > 1;
""", conn)

#### Q22: Find the titles of movies that have the maximum number of genres.

In [ ]:
pd.read_sql("""
    SELECT primaryTitle, genres
    FROM title_basics
    WHERE (
        SELECT LENGTH(genres) - LENGTH(REPLACE(genres, ',', '')) + 1
    ) = (
        SELECT MAX(LENGTH(genres) - LENGTH(REPLACE(genres, ',', '')) + 1)
        FROM title_basics
    )
""", conn)

#### Q16: Find the titles of movies that belong to the same genres as those with a runtime longer than 150 minutes.

In [ ]:
pd.read_sql("""
        SELECT genres
        FROM title_basics
        WHERE titleType = "movie" AND runtimeMinutes > 150 AND genres IS NOT NULL
""", conn)

In [ ]:
pd.read_sql("""
    SELECT *
    FROM title_basics
    WHERE genres IN (
        SELECT genres
        FROM title_basics
        WHERE titleType = "movie" AND runtimeMinutes > 150 AND genres IS NOT NULL
)
""", conn)

#### Q: Find titles of movies that have not received any ratings.

In [ ]:
pd.read_sql("SELECT tconst FROM title_ratings", conn)

In [ ]:
pd.read_sql("""
    SELECT primaryTitle
    FROM title_basics
    WHERE titleType = 'movie' 
    AND tconst NOT IN (
        SELECT tconst
        FROM title_ratings
)
""", conn)

#### Q17: Find all the titles that have an average rating greater than all titles released in the year 2005.

In [ ]:
pd.read_sql("""
    SELECT *
    FROM title_basics
    WHERE tconst IN (
        SELECT tconst
        FROM title_ratings
        WHERE averageRating > ALL (
            SELECT averageRating
            FROM title_ratings
            WHERE tconst IN (
                SELECT tconst
                FROM title_basics
                WHERE startYear = 2005
            )
        )
    )
""", conn)

#### Q18: Find all the titles that have an average rating lower than any title released in the year 2005.

In [ ]:
pd.read_sql("""
    SELECT *
    FROM title_basics
    WHERE tconst IN (
        SELECT tconst
        FROM title_ratings
        WHERE averageRating < ANY (
            SELECT averageRating
            FROM title_ratings
            WHERE tconst IN (
                SELECT tconst
                FROM title_basics
                WHERE startYear = 2005
            )
        )
    )
""", conn)

### Correlated subqueries

#### Q19: Find the titles of movies that have a runtime longer than the average runtime of all movies in the same genre.

In [ ]:
pd.read_sql("""
    SELECT primaryTitle, runtimeMinutes, genres
    FROM title_basics tb_outer
    WHERE titleType = 'movie'
    AND runtimeMinutes > (
        SELECT AVG(runtimeMinutes)
        FROM title_basics tb_inner
        WHERE tb_inner.genres = tb_outer.genres
        AND tb_inner.titleType = 'movie'
)
""", conn)

### JOINs

#### Q20: Find all movies and their corresponding ratings.

In [ ]:
pd.read_sql("""
    SELECT b.primaryTitle, r.averageRating
    FROM title_basics b
    JOIN title_ratings r ON b.tconst = r.tconst
    WHERE b.titleType = 'movie'
""", conn)

#### Q21: List all movies and their associated genres.

In [ ]:
pd.read_sql("""
    SELECT b.primaryTitle, b.genres
    FROM title_basics b
    LEFT JOIN title_akas a ON b.tconst = a.titleId;
""", conn)

#### Q22: Find all crew members and the movies they worked on.

In [ ]:
pd.read_sql("""
    SELECT *
    FROM title_crew c
    RIGHT JOIN title_basics b ON c.tconst = b.tconst
""", conn)