## SQL 2: Basic SQL clauses

In [ ]:
# import statements

In [ ]:
engine = create_engine("mysql+mysqlconnector://root:abc@127.0.0.1:3306/cs639")
conn = engine.connect()

In [ ]:
list(conn.execute(text("show tables;")))

### IMDB dataset

- Source: https://datasets.imdbws.com/ 
- Original dataset is too large to be analyzed using our current VM
- Schema information: https://developer.imdb.com/non-commercial-datasets/

Let's download a sampled version of the dataset.

In [ ]:
!wget https://ms.sites.cs.wisc.edu/cs639/data/IMDB.zip

In [ ]:
!unzip IMDB.zip

#### Populating MySQL server with tables corresponding to all tsv files

In [ ]:
list(conn.execute(text("show tables;")))

### Explore the tables

In [ ]:
# name_basics
pd.read_sql("", conn)

In [ ]:
# title_akas

In [ ]:
# title_basics

In [ ]:
# title_crew

In [ ]:
# title_episode

In [ ]:
# title_principals

In [ ]:
# title_ratings

### Data Analysis

#### Q1: What are the movies?

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q2: What are all the movie titles and their corresponding release years? Eliminate movies without release years.

Which table can we find this data from?

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q3: How many movies are in this dataset?

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q4: What are all the types of titles in this dataset?

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q5: How many title types are there in this dataset?

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q6: What are all the movies that got released in 2023?

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q7: What is the average rating of all titles?

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q8: What are all the movies that have runtime greater than 2 hours?

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q9: What are all the "Comedy" movies?

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q10: Find the total number of people in the dataset.

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q11: What are the distinct primary professions of individuals in the dataset?

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q12: What are the total number of alternate titles listed in the dataset?

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q13: What is the total runtime in the dataset?

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q14: What are the regions where alternate titles are available?

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q15: List the titles of movies along with their runtimes converted from minutes to hours.

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q16: What are all movies that got released between 2000 and 2010, inclusive?

In [ ]:
pd.read_sql("""
    
""", conn)

### SQL Subqueries

#### Q17: What is the shortest movie released after 2010?

In [ ]:
pd.read_sql("""
    
""", conn)

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q18: What is the longest movie released after 2010?

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q19: What are the titles that have a runtime greater than the average runtime of all movies?

In [ ]:
pd.read_sql("""
    
""", conn)

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q20: What are the most recent movies?

In [ ]:
pd.read_sql("""
    
""", conn)

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q21: Find the number of movies that have more than one genre.

We can find number of genres by simply counting number of commas and adding 1 to that count. Let's first determine length of genres column.

In [ ]:
pd.read_sql("""
    
""", conn)

To find, number of commas, we can replace commas with nothing and find difference between original string and the replaced string.

In [ ]:
pd.read_sql("""
    
""", conn)

Now putting it together in a subquery.

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q22: Find the titles of movies that have the maximum number of genres.

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q23: Find the titles of movies that belong to the same genres as those with a runtime longer than 150 minutes.

In [ ]:
pd.read_sql("""
    
""", conn)

In [ ]:
pd.read_sql("""
    
""", conn)

### JOINs

#### Q24: Find all movies and their corresponding ratings.

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q25: List all movies and their associated genres.

In [ ]:
pd.read_sql("""
    
""", conn)

#### Q26: Find all crew members and the movies they worked on.

In [ ]:
pd.read_sql("""
    
""", conn)